# Backend
backend/target/
*.class

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.npm-cache/

# Backend
backend/target/
backend/.m2repo/
*.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env

*.zip

backend/target/
*.jar

node_modules/
frontend/node_modules/